# Virtual environment
venv/

# Logs
*.log

# Python cache
__pycache__/
*.pyc

# macOS system files
.DS_Store

# Temporary save files
*-save*
*.save*

# GCP upload configuration and script files
env.yaml
gcp_deploy.sh

# Local config files
.env
.crdb.crt