# Virtual environment
venv/

# Logs
*.log

# Python cache
__pycache__/
*.pyc

# macOS system files
.DS_Store

# Temporary save files
*-save*
*.save

# Local configuration and script files
frontend/config.js
